body {
    background-color:#226666;
    margin: 0;
    font-family: 'Aboreto', cursive;
}

#cabecalho {
    top:0;
    width: 100%;
    background-color: #003333;
}

#minha_foto {
    padding-top: 10px;
    width: 170px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    text-align: center;
}

nav{
    text-align: center;
}

.link {
    width: 40px;
    background-color: #003333;
    border-radius: 100%;
    padding: 10px;
    margin: 5px;
}

.link:hover {
    background-color: #669999;
}

article {
    border: 1px solid black;
    height: 200px;
    padding: 15px;
    line-height: 25px;
    margin: 10px;
}



#rodape {
    background-color: #003333;
    height: 50px;
    text-align: center;
    margin-top: 10px;
} 