body {
    background-color:#226666;
    margin: 0;
    /* font-family: 'Aboreto', cursive; */
    /* font-family: sans-serif; */
    /* font-weight: bold; */
}

header {
    top:0;
    width: 100%;
    background-color: #003333;
}

#my_picture {
    padding-top: 10px;
    width: 170px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    text-align: center;
}

nav{
    text-align: center;
}

.link {
    width: 40px;
    background-color: #003333;
    border-radius: 100%;
    padding: 10px;
    margin: 5px;
}

.link:hover {
    background-color: #669999;
}

article {
    height: 250px;
    padding: 5px 15px;
    line-height: 25px;
    margin: 10px;
    font-size: 20px;
    line-height: 35px;
}

#linkTrybe {
    color: #5FAE57;
}

#emDesenvolvimento {
    background-color: #0D4D4D;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flexbox;
}

#hab1 {
    text-align: center;
}

#hab2 {
    text-align: center;
}
#habilidades {
    margin-left: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.habilidade {
    background-color: white;
    width: 270px;
    height: 270px;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

/* .habimg {
    width: 140px;
    margin-top: 30px;
} */

#rodape {
    background-color: #003333;
    text-align: center;
    margin-bottom: 0;
    height: 50px;
    padding-top: 15px;
} 